appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
idna==2.8
oauthlib==3.1.0
pathspec==0.6.0
PyYAML==5.1.2
regex==2019.11.1
requests==2.22.0
requests-oauthlib==1.2.0
-e git+git@github.com:kiblee/tod0.git#egg=tod0
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.6
